:root {
	--page-text-color: #d3d3d3;
}

body {
	font-family: 'Courier New', Courier, monospace;
	font-optical-sizing: auto;
	font-style: normal;
	color: #d3d3d3;
	background-color: black;
	/* background-image: url("header.png"); */
	background-size: contain;
	background-position: center center;
	background-attachment: scroll;
}

.title { font-size: 3em; }
}
