:root {
	--page-text-color: #d3d3d3;
}

body {
	color: #d3d3d3;
	background-color: black;
	/* background-image: url("header.png"); */
	background-size: contain;
	background-position: center center;
	background-attachment: scroll;
}

.title { font-size: 2.5em; }
.title, .window, .center {
	font-family: 'Courier New', Courier, monospace;
}
