#deJong {
  position: absolute;
  right: 0;
  top: 13vh;
}

@media screen and (min-width: 1281px) {
  #deJong {
    top: 9vh;
  }
}

@media (prefers-color-scheme: dark) {
  #deJong {
    filter: invert(1);
    input {
      accent-color:var(--bg-color) !important;
    }
  }
}
