html {
	margin: 0;
	padding: 0;
    height: 100%;
}

body {
    height: 70%;
    margin: 0;
    color: white;
    background-color: black;
    font-family:"游明朝", serif;
    padding: 50px;
}

footer{
	position: fixed;
	bottom: 0;
	right: 1.5%;
}
footer a:link {
    color: white;
	text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.introduction {
    height: 50%;
}
.introduction a:link{
	color: #4040ff;
	text-decoration: none;
}
.introduction a:visited:not(.link-img) {
	color: #4040ff;
}
.introduction a:hover:not(.link-img) {
	color: #4040ff;
	text-decoration: underline;
}

.output-box {
    display: flex;
    margin-top: -2%;
}

#output {
    width: 52%;
    white-space: pre-wrap;
    text-align: center;
    margin: 0 auto;
}
#output a:link {
	color: white;
	text-decoration: none;
}
#output a:visited:not(.link-img) {
	color: white;
}
#output a:hover:not(.link-img) {
	color: white;
	text-decoration: underline;
}

.words {
    text-align: left;
    font-size: 1.8em;
}

.trans {
    margin-bottom: 1.5em;
}

.type {
    text-align: right;
    color: #999;
}

.source {
    text-align: right;
}

.sub {
    text-align: right;
    font-size: 0.8em;
}

.context {
    text-align: right;
    margin-top: 20px;
    font-size: 0.8em;
}
