:root {
	--bg-color: #050505;
  --link-color: #4447f8;
	--link-visited: #4493f8;
	--text-color: #e3e3e3;
}

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: "Courier", "Courier New", "Courier Prime", monospace;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 100px;
	width: 85%;
}

header h1 {
	font-size: 2.8em;
	margin: 1.3em 1em 0 0;
}

main {
	a:hover:not(.link-img) {
		filter: brightness(2);
		text-decoration: none;
	}
  a:link {
    color: var(--link-color);
	}
	a:visited:not(.link-img) {
		color: var(--link-visited);
	}
}

footer {
	bottom: 1em;
	position: fixed;
	right: 1em;
}

.header-small {
	color: var(--text-color);
	font-size: 0.3em;
	opacity: 5%;
	position: absolute;
	right: 0;
	text-decoration: none;
}

.about {
	font-size: 0.75em;
	left: 0;
	opacity: 5%;
	position: absolute;
  a:link {
    text-decoration: none;
  }
}

.landing {
	height: 100vh;
}

.top-bullet {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 2em;
	padding: 0;
	li {
		ul {
			font-size: 0.75em;
			font-weight: normal;
			line-height: 0.9em;
			padding: 5px 20px;
			li {
				padding-bottom: 1em;
			}
		}
		ul.links li a:hover {
			filter: drop-shadow(0 0 30px);
		}
	}
}

.link-img {
	color: var(--text-color);
}

.links {
	a[href*="scrapbox.io"]   { background-color: #00b42e; color: #ffffff; }
	a[href*="kiite.jp"]      { background-color: #474747; color: #ffffff; }
	a[href*="github.com"]    { background-color: #2b2e30; color: #ffffff; }
	a[href*="discord.com"]   { background-color: #5562f6; color: #ffffff; }
	a[href*="bsky.app"]      { background-color: #ffffff; color: #0886fe; }
	a[href*="nostter.app"]   { background-color: #16202a; color: #71c9f7; }
	a[href*="wikipedia.org"] { background-color: #101418; color: #ffffff; }
}

.button {
	color: black;
	background-color: #dfdfdf;
	border-color: #ffffff #808080 #808080 #ffffff;
	border-style: solid;
	display: inline;
	font-family: serif;
	font-style: italic;
	font-weight: bold;
	margin: 5px 10px;
	padding: 0px 20px;
	text-align: center;
	letter-spacing: 2px;
	&:hover {
		cursor: pointer
	}
	&:active {
		border-color: #808080 #ffffff #ffffff #808080;
	}
}
